/* * {
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    asdfasdf
  } */
  header {
    flex: 0 80px;
  }
header{
    color:blue;
    background-color: rgb(87, 205, 195);
    
}
h1{
  color: white;
}